[Unit]
Description=IBM HTTP Server

[Service]
Type=oneshot
ExecStart=/opt/IBM/tools/ihs.sh start
ExecStop=/opt/IBM/tools/ihs.sh stop
User=root
RemainAfterExit=yes

[Install]
WantedBy=default.target
