#Comms home
MI_COMMS_HOME={{ ansible_mi_commsapp_home_dir }}
#MQ password
MQ_PSSD={{ ansible_mi_commsapp_mq_password }}
#MQ username
MQ_USER= {{ ansible_mi_commsapp_mq_user }}
#MQ Queue manager Hostname
MQ_QMGR_HOST={{ ansible_mi_commsapp_mq_qmgr_host }}
#MQ Queue manager Name
MQ_QMGR_NAME={{ ansible_mi_commsapp_mq_qmgr_name }}
#MQ Queue manager Port
MQ_QMGR_PORT={{ ansible_mi_commsapp_mq_qmgr_port }}
#MQ Queue manager Channel
MQ_QMGR_CHANNEL={{ ansible_mi_commsapp_mq_qmgr_channel }}
#MQ Incoming Queue Name
MQ_IN_QUEUE_NAME={{ ansible_mi_commsapp_mq_in_queue_name }}
#MQ Outgoing Queue Name
MQ_OUT_QUEUE_NAME={{ ansible_mi_commsapp_mq_out_queue_name }}
